{
  email artcodeneuro@yandex.ru
}

acnai.ru, www.acnai.ru {
    tls /etc/caddy/certs/acnai.fullchain.pem /etc/caddy/certs/acnai.key

    encode zstd gzip


    # ВАРИАНТ Б: приложение слушает на хосте :8000 (как у вас видно из ss)
    reverse_proxy host.docker.internal:8000
}
